.displayPage{
  display: flex;
  /* align-items: center;
  flex-direction: column; */
  height:100vh;
  width: 100vw;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width:60vw;
  font-family: 'Saiyan Sans', sans-serif;
  font-family: 'Saiyan Sans - Left Oblique', sans-serif;
  font-family: 'Saiyan Sans - Right Oblique', sans-serif;
  font-size: 50px;
  color:black;
  background:linear-gradient(yellow,rgb(255, 179, 0),rgb(255, 140, 0),red);
  border-radius: 10px;
}
.mainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  border-left: 0px;
  border-right: 0px;
}
.homePage{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height:100vh;
  width:60vw;
}
.topPortion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  width:60vw;
  border-bottom: 4mm ridge black;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:80%;
  width:60%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.profile > img {
  width:150%;
  height: fit-content;
  border-radius: 100%;
  box-shadow: rgb(0, 136, 255) 0px 0px 20px 10px;
}
.info{
  height: 100%;
  width:60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color:black;

}
.info-items{
  height: 50%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:15px;
  color:black
}
.sideBar{
  height:100vh;
  width:20vw;
  overflow: hidden;
  margin:0px;
  
}
.sideBar > img{
  height: 100%;
  border: 0px;
  position: relative;
  right:500px;
}
.lnk{
  color: black;
}
.lnk:hover{
  color:yellow;
  text-shadow: 0px 0px 20px;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}

.aboutMe{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height:40vh;
  width:60vw;
  background-color: white;
}

.aboutMe > p {
  padding-left: 40px;
  padding-right: 40px;
}

.goku{
  height:fit-content;
  width: fit-content;
}
.goku > img{
  height:150px;
  width: 150px;
}
.journey{
  height:100vh;
  width: 100vw;
}
/* .TimelineMainWrapper-sc-cif21b-1{
  width:100%;
  height: 100%;
} */